.thumbnail {
  width: 100% !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.blogBody {
  width: 80% !important;
  display: flex;
  flex-direction: column !important;
  /* justify-content: center !important; */
  align-items: center !important;
  max-width: 800px !important;
  min-width: 350px !important;
  min-height: 100vh !important;
  margin-top: 100px !important;
}
.title-wrap {
  font-size: 38px !important;
}
.BlogPost {
  width: 100% !important;
}
.post-wrapper {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.title-wrapper {
  width: 100%;
}
.body-wrapper {
  width: 100%;
}
.sorry {
  font-size: 100px !important;
}
@media (max-width: 550px) {
  .doesnt-exist {
    font-size: 30px !important;
  }
}
.loading-indicator {
  display: flex;
  justify-content: center;
  /* align-items: start; */
  /* height: 15vh !important; */
}

.loading-circle {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #e49ff8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
